<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymwleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{css/style.css}" >
</head>
<body>
<div class="container theCont">
    <form  th:action="@{/save}"  method="POST">

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >Enter Student Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="SName">
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >Enter Course Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="CName">
        </div>

        <input  class="btn btn-primary" type="submit" value="Add">
    </form>
</div>
</body>
</html>